<h1>Pirate</h1>

<%= @pirate.name %><br/>
<%= @pirate.height %><br/>
<%= @pirate.weight %>


<h2>first ship</h2>


<%= @ships[0].name %><br/>
<%= @ships[0].type %><br/>
<%= @ships[0].booty %>


<h2>second ship</h2>


<%= @ships[1].name %><br/>
<%= @ships[1].type %><br/>
<%= @ships[1].booty %>
